*~
.#*
*#
*.autosave
*.gz
*.zip
*.swp
.idea/
.vs/
bin
build/
build*/
Session.vim
cmake-build-*/
/data/volume/
/data/images/
/data/outputs/
/data/vortices/
*.png
*.jpg
*.ppm
*.exr
/data/tmp.json
imgui.ini
Preferences.json
.vscode/
/data/*.csv
data/vortices/

# Trained models
*.pt
.vscode/
ShadowMapData/
photonmap.bin
shadowmap.bin
shadowmap.json
params.json

projects/
