[submodule "github-actions"]
	path = github-actions
	url = https://github.com/wilsonCernWq/github-workflow-collections.git
[submodule "extern/imgui/implot"]
	path = extern/imgui/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
